<ion-view view-title='Schedule'>
  <ion-content>
    <div class='list card' ng-controller="ScheduleCtrl as schedule">
      <div class='item item-divider item-icon-left'>
        <i class='icon ion-calendar'></i>
        <h2>{{name}}</h2><!-- DYNAMICALLY GENERATED -->
        <p>Schedule:</p>
      </div>

      <div class='item' ng-repeat='time in times'>
        {{ time.count }} Players @ {{time['starttime'] | date:'MM/dd, h:mma'}}
        
        <a class='item-avatar-right' href='#'>
          <img src="assets/img/placeholder-hi.png">
        </a>
      </div>
    </div>
<!-- TAKES THE USER TO THE CREATE VIEW WHEN CLICKED: -->
    <button class='button button-block button-energized' ng-click="createEvent()">
      Create Event
    </button>
  </ion-content>
</ion-view>