<ion-view view-title='Schedule'>
  <ion-content>
    <div class='list card'>
      <div class='item item-divider'>
        <i class='icon ion-calendar'></i>
        <h2>Court Name</h2><!-- DYNAMICALLY GENERATED -->
        <p>Today's Schedule:</p>
      </div>

      <div class='item'>
        10:10 AM<!-- TIME WILL BE DYNAMICALLY GENERATED -->
        <!-- TO BE REPEATED FOR EACH PLAYER: -->
        <a class='item-avatar-right' href='#'>
          <img src="assets/img/placeholder-hi.png">
        </a>
      </div>
    </div>
<!-- TAKES THE USER TO THE CREATE VIEW WHEN CLICKED: -->
    <a href='#/app/create'>
    <button class='button button-block button-energized' >
      Create Event
    </button>
    </a>
  </ion-content>
</ion-view>